
@import '../../global/variables';
@import '../../global/global.scss';



h1{
  font-family: $font-family-base;
  color: $color-base-white;
  font-size: $size-font-4;
  font-weight: $font-weight-medium;
}
.login{
  &-container{
    width: 100%;
    max-width: 414px;

    background-color: $color-base-primary-700;
    padding: 25px;
    border-radius: $size-border-radius-md;
  }
}