@import '../../global/tokens/global-new-tokens.scss';

.inputGroup{
  font-family: $brad-font-family-primary;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: center;
  align-items: center;
  position: relative;
  margin-top: $brad-global-spacing-1;
  margin-bottom: $brad-global-spacing-1;
  &-label{
    color: $brad-neutral-color-700;
    line-height: $brad-global-line-height-default;
    font-size: $brad-global-font-size-2;
    font-weight: $brad-font-weight-medium;
    font-family: $brad-font-family-primary;
    letter-spacing: $brad-global-letter-spacing-md;
    display: block;
    position: relative;
    padding: 0;
    padding-left: 10px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }
  &-content-switch{
  }
  &-switch{
    cursor: pointer;
    text-indent: -9999px;
    width: 36px;
    height: 14px;
    background: $brad-neutral-color-400;
    display: block;
    border-radius: $brad-global-border-radius-pill;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      width: 18px;
      height: 18px;
      background: $brad-neutral-color-600;
      border-radius: $brad-global-border-radius-circular;
      transition: 0.3s;
    }
  }
  label{
    display: flex;
    align-content: center;
    align-items: center;
  }
  input{
    position: absolute;
    visibility: hidden;
    &:checked ~ .inputGroup-content-switch{
      .inputGroup-switch{
        background-color: $brad-brand-color-primary-400;
        &::after{
          background-color: $brad-brand-color-primary-800;
          left: calc(100% - -2px);
	        transform: translateX(-100%);
        }
      }
    }
  }
  
  
  
  // status
  &-disabled{
    .inputGroup-label{
      color: $brad-neutral-color-700;
    }

    .inputGroup-switch{
      background-color: $brad-neutral-color-300;
      &::after{
        background-color: $brad-neutral-color-500;
      }
    }
  }
}
