
@import 'global/global-token.scss';
@import 'brand/sp-token.scss';
// @import 'brand/seguros-token.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
// @import "./variables.scss";
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../font/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(../font/MaterialIcons-Regular.woff2) format('woff2'),
         url(../font/MaterialIcons-Regular.woff) format('woff'),
         url(../font/MaterialIcons-Regular.ttf) format('truetype');
}
  

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
label,
li,
a{
    font-family: $brad-font-family-primary;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}
body{
    margin: 0;
    font-family: $brad-font-family-primary;
    font-size: $brad-global-font-size-3;
    font-weight: $brad-font-weight-regular;
    color: $brad-neutral-color-900;
    overflow-x: hidden;
}
.container{
    width: 100vw;
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 50px;
    .row{
        margin: 24px auto ;
        display: flex;
        &.space-between{
            justify-content: space-between;
        }
        &.space-around{
            justify-content: space-around;
        }
        &.center{
            justify-content: center;
        }
        &.start{
            justify-content: start;
        }
        &.end{
            justify-content: end;
        }
    }
}
 

// margin && padding
$spacing: (
  "0": $brad-global-font-size-0, 
  "1": $brad-global-font-size-1, 
  "2": $brad-global-font-size-2, 
  "3": $brad-global-font-size-3,
  "4": $brad-global-font-size-4,
  "5": $brad-global-font-size-5,
  "6": $brad-global-font-size-6,
  "7": $brad-global-font-size-7,
  "8": $brad-global-font-size-8,
  "9": $brad-global-font-size-9
);

@each $name, $value in $spacing {
  .m-#{$name} {
    margin: $value;
  }
  .mx-#{$name} {
    margin-left: $value;
    margin-right: $value;
  }
  .my-#{$name} {
    margin-top: $value;
    margin-bottom: $value;
  }
  .ml-#{$name} {
    margin-left: $value;
  }
  .mr-#{$name} {
    margin-right: $value;
  }
  .mt-#{$name} {
    margin-top: $value;
  }
  .mb-#{$name} {
    margin-bottom: $value;
  }

  .p-#{$name} {
    padding: $value;
  }
  .px-#{$name} {
    padding-left: $value;
    padding-right: $value;
  }
  .py-#{$name} {
    padding-top: $value;
    padding-bottom: $value;
  }
  .pl-#{$name} {
    padding-left: $value;
  }
  .pr-#{$name} {
    padding-right: $value;
  }
  .pt-#{$name} {
    padding-top: $value;
  }
  .pb-#{$name} {
    padding-bottom: $value;
  }
}


