@import '../../global/tokens/global-new-tokens.scss';
// @import '../../global/tokens/global-new-tokens.scss';

.inputGroup{
  font-family: $brad-font-family-primary;
  font-weight: $brad-font-weight-medium;
  display: flex;
  flex-direction: column;
  position: relative;
  &-helper{
    font-weight: $brad-font-weight-medium;
    font-size: $brad-global-font-size-1;
    color: $brad-neutral-color-700;
    letter-spacing: $brad-global-letter-spacing-default;
    }
  span{
    color: $brad-neutral-color-700;
    letter-spacing: $brad-global-letter-spacing-md;
    line-height: $brad-global-line-height-xl;
    font-size: $brad-global-font-size-2;
    font-weight: $brad-font-weight-medium;
  }
  
  input{
    margin: 2px;
    &:hover{}
    &:focus{}
    &:disabled{}
    &:active{}
    &::placeholder{
        font-family: $brad-font-family-primary;
        color: $brad-brand-color-primary-800;
    }
  }
  &-checkbox{
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-content: center;
    display: inline-flex;
    position: relative;
    input,
    .inputGroup-checkbox_box{
      position: absolute;
      width: 18px;
      top: 0;
      left: 0;
      height: 18px;
    }
    input{
      cursor: pointer;
      opacity: 0;
      z-index: 1;
      &:checked ~ label .input-checkbox_box {
        background-color: $brad-brand-color-primary-800;
      }
      &:disabled {
        cursor: not-allowed;
        ~ label {
          border-radius: $brad-global-border-radius-xs;
          color: $brad-neutral-color-600;
          cursor: default;
          .input-checkbox_box {
            border: $brad-global-border-width-regular solid $brad-neutral-color-600;
          }
        }
        &:checked ~ label .input-checkbox_box {
          background-color: $brad-brand-color-primary-800;
        }
      }
    }
    label {
      position: relative;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
    }
    .input-checkbox_box {
        margin: 1px 2px;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        max-height: 14px;
        width: 14px;
        pointer-events: none;
        border: $brad-global-border-width-regular solid $brad-brand-color-primary-800;
        transition: all 0.2s ease-in-out;
        border-radius: $brad-global-border-radius-xs;
        &::after {
            width: 48px;
            height: 14px;
            content: "";
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><g fill='none' fill-rule='evenodd'><path d='M0 0h20v20H0z'/><path fill='%23ffffff' d='M1 10.243L7.321 17 19 4.763 17.156 3 7.321 13.346l-4.477-4.76z'/></g></svg>");
            background-repeat: no-repeat;
        }
    }
    .input-checkbox_content{
        margin-left: 8px;   
        font-size: $brad-global-font-size-2;
        font-weight: $brad-font-weight-medium;
        line-height: $brad-global-line-height-sm;
        letter-spacing: $brad-global-letter-spacing-md;
    }
  }

  
  &-disabled{
    .input-checkbox_box{
        border-color: $brad-neutral-color-600;
    }
    .input-checkbox_content{
        color: $brad-neutral-color-600;
    }
  }
  &-indeterminate{
    .input-checkbox_box{
      border-color: $brad-feedback-color-error-600;
        &::after {
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><g fill='none' fill-rule='evenodd'><path d='M0 0h20v20H0z'/><path fill='%23ffffff' d='M1 10.243L7.321 17 19 4.763 17.156 3 7.321 13.346l-4.477-4.76z'/></g></svg>");
        }
    }
    .input-checkbox_content{
      color: $brad-neutral-color-700;
    }
  }
  &-error{
    .input-checkbox_box{
      border-color: $brad-feedback-color-error-600;
    }
    .input-checkbox_content{
        color: $brad-neutral-color-700;
    }
    .inputGroup-helper{
        color: $brad-feedback-color-error-600;
        line-height: $brad-global-line-height-xxl;
        font-size: $brad-global-font-size-1;
        letter-spacing: $brad-global-letter-spacing-default;
    }
    input:checked{
        & ~ label .input-checkbox_box {
            border-color: $brad-brand-color-primary-800;
        }
        & ~ .inputGroup-helper{
            display: none;
        }
    }
  }
  
  
}