
@import '_variables.scss';

// @import url(´#{asset-font-montserrat-url}´);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
// @import "./variables.scss";
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../font/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(../font/MaterialIcons-Regular.woff2) format('woff2'),
         url(../font/MaterialIcons-Regular.woff) format('woff'),
         url(../font/MaterialIcons-Regular.ttf) format('truetype');
}
  

h1,
h2,
h3,
h4,
h5,
h6,
p,
span{
    margin: 0;
}
body{
    margin: 0;
    font-family: $font-asset-montserrat-name;
    font-size: $size-font-2;
    font-weight: $font-weight-regular;
    color: $color-font-secondary;
    overflow-x: hidden;
}
button{
    margin: 20px;
}
.container{
    width: 100vw;
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 50px;
    .row{
        margin: 24px auto ;
        display: flex;
        h5{ 
            margin-top: 48px;
        }
        &.space-between{
            justify-content: space-between;
        }
        &.space-around{
            justify-content: space-around;
        }
        &.center{
            justify-content: center;
        }
        &.start{
            justify-content: start;
        }
        &.end{
            justify-content: end;
        }
    }
}


.formGroup{
    display: flex;
    flex-wrap: wrap;

}
.m{
    $spacing-01:2px;
    $spacing-02:$spacing-01*2;
    $spacing-03:$spacing-02*2;
    $spacing-04:$spacing-03*2;
    $spacing-05:$spacing-04*2;
    &-1{
        margin: $spacing-01;
    }
    &-2{
        margin: $spacing-02;
    }
    &-3{
        margin: $spacing-03;
    }
    &-4{
        margin: $spacing-04;
    }
    &-5{
        margin: $spacing-05;
    }
    &r{
        &-1{
            margin-right: $spacing-01;
        }
        &-2{
            margin-right: $spacing-02;
        }
        &-3{
            margin-right: $spacing-03;
        }
        &-4{
            margin-right: $spacing-04;
        }
        &-5{
            margin-right: $spacing-05;
        }
    }
    &l{
        &-1{
            margin-left: $spacing-01;
        }
        &-2{
            margin-left: $spacing-02;
        }
        &-3{
            margin-left: $spacing-03;
        }
        &-4{
            margin-left: $spacing-04;
        }
        &-5{
            margin-left: $spacing-05;
        }
    }
    &t{
        &-1{
            margin-top: $spacing-01;
        }
        &-2{
            margin-top: $spacing-02;
        }
        &-3{
            margin-top: $spacing-03;
        }
        &-4{
            margin-top: $spacing-04;
        }
        &-5{
            margin-top: $spacing-05;
        }
    }
    &b{
        &-1{
            margin-bottom: $spacing-01;
        }
        &-2{
            margin-bottom: $spacing-02;
        }
        &-3{
            margin-bottom: $spacing-03;
        }
        &-4{
            margin-bottom: $spacing-04;
        }
        &-5{
            margin-bottom: $spacing-05;
        }
    }
}