@import '../../global/tokens/global-new-tokens.scss';



.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  
  /* Support for IE. */
  font-feature-settings: 'liga';
  font-size: $brad-global-font-size-5;  /* Preferred icon size */

  &.icon-color{
    &-primary{
    //   color: $brad-brand-color-primary-pure;
    }
    &-secondary{
    //   color: $brad-brand-color-secondary-dark;
    }
    &-white{
    //   color: $brad-neutral-color-high-pure;
    }
    &-black{
    //   color: $brad-neutral-color-low-pure;
    }
  }
  &.icon-size{
    &-16{
        font-size: $brad-global-font-size-3;
        line-height: $brad-global-font-size-3;
        height: $brad-global-font-size-3;
    }
    &-24{
        font-size: $brad-global-font-size-5;
        line-height: $brad-global-font-size-5;
        height: $brad-global-font-size-5;
    }
    &-40{
        font-size: $brad-global-font-size-5;
        line-height: $brad-global-font-size-5;
        height: $brad-global-font-size-5;
    }
  }
}