<!-- .storybook/preview-head.html -->

<!-- Pull in static files served from your Static directory or the internet -->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Or you can load custom head-tag JavaScript: -->

<!-- <script src="https://use.typekit.net/xxxyyy.js"></script> -->
<script>try{ Typekit.load(); } catch(e){ }</script>