@import '../radio-button-atom/radio-button-atom.scss';

.formGroup{
  display: inline-block;
  &-label{
    display: inline-block;
    margin-bottom: $brad-global-spacing-1;
  }
  &-helper{
    display: inline-block;
    margin-top: $brad-global-spacing-1;
  }
  
}