
@import '../../global/tokens/global-new-tokens.scss';


.btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: $brad-font-family-primary;
  border: $brad-global-border-width-none;
  border-radius: $brad-global-border-radius-sm;
  font-size: $brad-global-font-size-2;
  font-weight: $brad-font-weight-semibold;
  line-height: $brad-global-line-height-xl;
  letter-spacing: $brad-global-letter-spacing-lg;
  text-align: center;
  min-width: 134px;
  -webkit-transition: all 0.25s linear;

  &-primary{
    background: $brad-brand-color-primary-800;
    color: $brad-neutral-color-100;
    .material-icons{
        color: $brad-neutral-color-100;
    }
    &:hover{
      background: $brad-brand-color-primary-700;
      cursor:pointer;
    }
    &:active{
      background: $brad-brand-color-primary-900;
    }
    &:disabled{
      background: $brad-brand-color-primary-300;
    }
  }
  &-secondary{
    border:$brad-global-border-width-light solid $brad-brand-color-primary-800;
    background: $brad-neutral-color-100;
    color: $brad-brand-color-primary-800;
    .material-icons{
        color: $brad-brand-color-primary-800;
    }
    &:hover{
        border-color: $brad-brand-color-primary-700;
        color: $brad-brand-color-primary-700;
        .material-icons{
            color: $brad-brand-color-primary-700;
        }
      cursor:pointer;
    }
    &:active{
        border-color: $brad-brand-color-primary-900;
        color: $brad-brand-color-primary-900;
        .material-icons{
            color: $brad-brand-color-primary-900;
        }
    }
    &:disabled{
        border-color: $brad-brand-color-primary-300;
        color: $brad-brand-color-primary-300;
        .material-icons{
            color: $brad-brand-color-primary-300;
        }
    }
  }
  &-tertiary{
    background: $brad-brand-color-primary-100;
    color: $brad-brand-color-primary-800;
    .material-icons{
        color: $brad-brand-color-primary-800;
    }
    &:hover{
        cursor:pointer;
        background: $brad-brand-color-primary-200;
        color: $brad-brand-color-primary-700;
        .material-icons{
            color: $brad-brand-color-primary-700;
        }
    }
    &:active{
        background: $brad-brand-color-primary-200;
        color: $brad-brand-color-primary-800;
        .material-icons{
            color: $brad-brand-color-primary-800;
        }
    }
    &:disabled{
        background: $brad-brand-color-primary-100;
        color: $brad-brand-color-primary-300;
        .material-icons{
            color: $brad-brand-color-primary-300;
        }
    }
  }
  &-lg{
    height: 48px;
    padding: $brad-global-spacing-2 $brad-global-spacing-4;
  }
//   &-md{
//     height: 40px;
//     padding: $brad-global-spacing-nano;
//   }
//   &-sm{
//     height: 32px;
//     padding: $brad-global-spacing-quarck $brad-global-spacing-nano;
//   }
  icon-component{
    display: flex;
    // margin-left: $brad-global-spacing-nano;
    margin-left: $brad-global-spacing-3;
  }
}