@import '../../global/tokens/global-new-tokens.scss';

.inputGroup{
  font-family: $brad-font-family-primary;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: center;
  align-items: center;
  position: relative;
  margin-top: $brad-global-spacing-1;
  margin-bottom: $brad-global-spacing-1;
  &-label{
    color: $brad-neutral-color-700;
    line-height: $brad-global-line-height-xl;
    font-size: $brad-global-font-size-2;
    font-weight: $brad-font-weight-medium;
    font-family: $brad-font-family-primary;

    display: block;
    position: relative;
    padding: 0;
    padding-left: 10px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }
  &-radioButton{
    display: flex;
    height: $brad-global-size-2;
    width: $brad-global-size-2;
    padding: 2px;
  }
  &-check{
    display: block;
    position: absolute;
    border-radius: $brad-global-border-radius-circular;
    border: $brad-global-border-width-regular solid $brad-brand-color-primary-800;
    height: $brad-global-size-2;
    width: $brad-global-size-2;
    top: 0;
    left: 0;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
    .inner-circle{
      display: block;
      position: absolute;
      content: '';
      border-radius: 100%;
      height: 10px;
      width: 10px;
      top: 3px;
      left: 3px;
      margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear;
    }
    // .ripple{
    //   display: block;
    //   position: absolute;
    //   content: '';
    //   border-radius: 100%;
    //   height: 10px;
    //   width: 10px;
    //   top: 3px;
    //   left: 3px;
    //   margin: auto;
    //   transition: background 0.25s linear;
    //   -webkit-transition: background 0.25s linear;
    // }
    
  }
  input[type='radio']{
    position: absolute;
    visibility: hidden;
    &:checked ~ .inputGroup-check{
      border: $brad-global-border-width-regular solid $brad-brand-color-primary-800;
      .inner-circle{
        background-color: $brad-brand-color-primary-800;
      }
    }
  }
  // status
  &-disabled{
    .inputGroup-check{
      border-color: $brad-neutral-color-600;
      .inner-circle{
        background-color: $brad-brand-color-primary-800;
      }
    }
    .inputGroup-label{
      color: $brad-neutral-color-600;
    }
  }

  &-error{
    .inputGroup-check{
      border-color: $brad-feedback-color-error-600;
    }
    .inputGroup-label{
      color: $brad-neutral-color-700;
    }
  }

  
}
