// @import '../../global/variables';
@import '../../global/tokens/global-new-tokens.scss';


.inputGroup{
  font-family: $brad-font-family-primary;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  // max-width: 100%;
  display: flex;
  position: relative;
  &.inputGroup-content{
    position: relative;
    width: 100%;
  }
  
  &-helper,
  &-label{
    color: $brad-neutral-color-700;
    letter-spacing: $brad-global-letter-spacing-default;
  }
  &-label{
    line-height: $brad-global-line-height-xl;
    font-size: $brad-global-font-size-2;
    font-weight: $brad-font-weight-semibold;
  }
  &-helper{
    font-weight: $brad-font-weight-medium;
    font-size: $brad-global-font-size-1;
    line-height: $brad-global-line-height-xxl;
  }
  &-btn{
    position: absolute;
    margin-top: 0;
    margin-top: $brad-global-spacing-3;
    margin-top: 0;
    top: $brad-global-spacing-3;
    right: $brad-global-spacing-3;
    height: $brad-global-spacing-3;
    width: $brad-global-spacing-3;
  }
  textarea,
  input{
    font-size: $brad-global-font-size-1;
    &::placeholder{
      font-family: $brad-font-family-primary;
      line-height: $brad-global-line-height-xxl;
      font-size: $brad-global-font-size-1;
      font-weight: $brad-font-weight-regular;
      color: $brad-neutral-color-700;
      letter-spacing: $brad-global-letter-spacing-default;
    }
  }
  icon-component{
    color: $brad-neutral-color-600;
  }
  

  &-select,
  &-search,
  &-textArea,
  &-text,
  &-phone,
  &-password{
    display: flex;
    position: relative;
    width: 100%;
    select,
    textarea,
    input{
      font-family: $brad-font-family-primary;
      padding:$brad-global-spacing-3;
      padding-right:$brad-global-spacing-3 * 2.5;
      width: 100%;
      border: $brad-global-border-width-light solid $brad-neutral-color-700;
      background: $brad-neutral-color-100;
      border-radius: $brad-global-border-radius-none;
      &:focus-within,
      &:focus-visible{
        outline: none;
        border-color: $brad-brand-color-primary-800;
        &::placeholder{
          color: $brad-neutral-color-800;
        }
        
      }
      &:active{
        border-color: $brad-neutral-color-800;
        & ~ icon-component,
        &::placeholder{
          color: $brad-neutral-color-600;
        }
        & ~ .inputGroup-helper,
        & ~ .inputGroup-label{
          color: $brad-neutral-color-800 !important;
        }
      }
      &:disabled{
        background-color: $brad-neutral-color-200;
        border-color: $brad-neutral-color-600;
        &::placeholder{
          color: $brad-neutral-color-600;
        }
        & + .inputGroup-helper,
        & ~ .inputGroup-label,
        & ~ icon-component{
          color: $brad-neutral-color-600;
        }
      }
      &:hover{
          border-color: $brad-neutral-color-800;
      }
    }
    textarea + icon-component,
    icon-component{
      position: absolute;
      margin-top: 0;
      top: 25%;
      right: $brad-global-spacing-3;
    }
    .inputGroup-btn{
      icon-component{
        position: relative;
      }
    }
  }
  &-textArea{
    textarea{
      resize: none;
      height:  $brad-global-font-size-1 * 3;
      &::placeholder{
        line-height: $brad-global-line-height-md;
        font-size: $brad-global-font-size-1;
      }
    }
  }
  &-search{
    input{
      &::placeholder{
        line-height: $brad-global-line-height-md;
        font-size: $brad-global-font-size-1;
      }
      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
    }
    .inputGroup-btnCancel{
      background: none;
      border: none;
      -webkit-appearance: none;
      height: 48px;
      width: 48px;
      top: 0;
      right: 48px;
      position: absolute;
      &:hover{
        cursor: pointer;
      }
      icon-component{
        color: $brad-neutral-color-800;
        position: absolute;
        top: $brad-global-font-size-3 ;
        right: $brad-global-font-size-3;

      }
    }
    .inputGroup-btnSearch{
      background: none;
      border: none;
      -webkit-appearance: none;
      height: 48px;
      width: 48px;
      top: 0;
      right: 0;
      position: absolute;
      icon-component{
        color: $brad-neutral-color-600;
        position: absolute;
        top: $brad-global-font-size-3 / 1.3;
        right: $brad-global-font-size-3;
      }
      &:hover{
        cursor: pointer;
        icon-component{
          color: $brad-neutral-color-800;
        }
      }
    }
  }
  &-select{
    select{
      -moz-appearance: none;
      -webkit-appearance: none;
      background-color: $brad-neutral-color-100;
      background-image: url();
      // todo agregar img arrow bottom
      option{
        font-family: $brad-font-family-primary;
        line-height: $brad-global-line-height-xxl;
        font-size: $brad-global-font-size-1;
        font-weight: $brad-font-weight-regular;
        color: $brad-neutral-color-700;
        letter-spacing: $brad-global-letter-spacing-default;
        background: #000;
        height: 48px;
      }
    }
  }


  //status
  &-active {
    select,
    textarea,
    input{
      border-color: $brad-neutral-color-800;
      & ~ icon-component,
      &::placeholder{
        color: $brad-neutral-color-800;
      }
    }
    .inputGroup-helper,
    .inputGroup-label{
      color: $brad-neutral-color-800 !important;
    }
  }
  &-disabled{
    select,
    textarea,
    input{
      background-color: $brad-neutral-color-200;
      border-color: $brad-neutral-color-600;
      &::placeholder{
        color: $brad-neutral-color-600;
      }
    }
    .inputGroup-helper,
    .inputGroup-label,
    icon-component{
      color: $brad-neutral-color-600;
    }
  }
  &-focus{
    select,
    textarea,
    input{
      outline: none;
      border-color: $brad-brand-color-primary-800;
    }
    .inputGroup-helper,
    .inputGroup-label,
    icon-component{
      color: $brad-brand-color-primary-800;
    }

  }
  &-error{
    select,
    textarea,
    input{
      border-color: $brad-feedback-color-error-600;
    }
    .inputGroup-helper,
    .inputGroup-label,
    icon-component{
      color: $brad-feedback-color-error-600;
    }
  }
}
